      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
footer{
    text-align: center;
    font-size: 100%;
    font-family: 'Rubik', sans-serif; 
}
form.contacto{
    text-align: center;
    margin:center;
    font-family: 'Rubik', sans-serif; 
   
}
